Source: rekover
Section: user/other
Priority: optional
Maintainer: Shantanu Tushar <shantanu@kde.org>
Build-Depends: debhelper (>= 5), libqt4-dev
Standards-Version: 3.7.3
Homepage: http://www.shantanutushar.com

Package: rekover
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Helps you to track your phone when stolen
 Helps you to track your phone when stolen
XSBC-Maemo-Display-Name: rekover
