[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=rekover
Exec=/usr/bin/invoker --type=d -s /opt/rekover/bin/rekover
Icon=/usr/share/icons/hicolor/80x80/apps/rekover80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
